<!DOCTYPE html>
{% load static %}
{% load styleguide %}
{% load compress %}
<html>
    <head>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Styleguide Example</title>

    {%  styleguide_link_style_tag view.style_names %}

    <link rel="stylesheet" href="{% static 'django_kss/css/layout.css' %}" type="text/css" />

        <style>
            body, html{
                height: 100%;
                background-color: #EBEBEC;
            }
            #wrapper{
                height: 90%;
            }

        </style>

    {% block style %} <!--extra style will be over ride--> {% endblock %}

    </head>

    <body>

    {% block content %}

    {% endblock %}


    </body>
</html>
