{% extends 'django_kss/base.html' %}
{% load static %}
{% load styleguide %}
{% load compress %}

{% block content %}

<header class='styleguide-header'>
    <div class="nav">

        <div class="brand">
            {% block header %} Django Style Guide {% endblock %}
        </div>

    </div>
</header>


<div id="wrapper">

    <!-- Nav tabs -->
    <ul role="main" class='styleguide-nav' role="tablist" data-js-bs-tab>
        {% for filename in css_source_files %}
            <li class="styleguide-nav-list {% if filename == current_file %} active {% endif %}">
                <a class='styleguid-nav-anchor' href="{% url 'styleguide' filename=filename %}" role="tab">
                    {{ filename }}
                </a>
            </li>
        {% endfor %}
    </ul>



    <div>

        <div class='Stack'
             data-js-size-adjuster
             data-width="300"
             data-height="500"
             data-target="[data-js-iframe-target]">
            <img class='DeviceIcon DeviceIcon--iphone'></img>
            <span class='Stack-text'>iphone 5</span>
        </div>

    </div>
    <iframe src="" class='Style-content' frameborder="0" data-js-iframe-target> </iframe>



</div>

    <script type="text/html" data-js-iframe-source>
        {%  styleguide_link_style_tag view.style_names %}
        <style>
            {% styleguide_highlight_style %}
        </style>

        {% include 'django_kss/render_sections.html' %}
    </script>

    <script src="{% static 'django_kss/js/jquery.js' %}"></script>
    <script src="{% static 'django_kss/js/replace_iframe.js' %}"></script>
    <script>
        $(function(){
            replaceIframe({
                source: '[data-js-iframe-source]',
                target: '[data-js-iframe-target]'
            });
        });
    </script>

    <script>
        $(function(){
            $(document).on('click', '[data-js-size-adjuster]', function(){
                var $trigger = $(this);
                var width = $trigger.data('width');
                var height = $trigger.data('height');
                var target = $trigger.data('target');
                $(target).width(width).height(height);
            })
        })
    </script>

{% endblock %}
