/*
Form input sample.

Example:

<div class='Stack'>
    <img class='DeviceIcon'></img>
    <span class='Stack-text'>sample</span>
</div>

Styleguide 1.1

*/


.Stack{
    display: inline-block;
}

.Stack-text{
    opacity: 0.6;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: normal;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 8px;
    white-space: normal;
    color: #333;
    text-align: center;
}




