/*----------------------------------------------------------------------------
  @group Global Reset
----------------------------------------------------------------------------*/
/*

.access{ display:none; } /* For accessibility related elements */
.clear{ clear:both; height:0px; font-size:0px; line-height:0px; overflow:hidden; }
a{ outline:none; }
a img{ border:none; }




.styleguide-header{
  padding:10px;

  font-size:16px;
  color:#666;

  background:#f1f1f1;
  border-bottom:1px solid #ddd;
  font-weight: bold;
}

#wrapper{
  min-width:600px;
  padding-left:200px;
}

[role=main]{
  float:left;
  margin-left:-200px;
  width:160px;
}


/*----------------------------------------------------------------------------
  @group Styleguide Styles
----------------------------------------------------------------------------*/

.styleguide {
  margin: 0 0 -5px 0;
  font-size: 24px;
  color: #000; }

.styleguide-example {
  margin: 15px 0;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
  .styleguide-example > h3 {
    margin: 0;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    background: #333;
    border-top: 1px solid #000; }
    .styleguide-example > h3 em {
      float: right;
      text-transform: none;
      font-style: normal;
      font-weight: normal;
      color: #999; }
  .styleguide-example .styleguide-description {
    padding: 10px 5px;
    background: #f1f1f1;
    border-bottom: 1px solid #ddd; }
    .styleguide-example .styleguide-description p:first-child {
      margin-top: 0; }
    .styleguide-example .styleguide-description p:last-child {
      margin-bottom: 0; }
  .styleguide-example .styleguide-element {
    position: relative;
    padding: 20px; }
  .styleguide-example .styleguide-element + .styleguide-element {
    margin-top: -5px;
    padding-top: 15px;
    border-top: 1px solid #eee; }
  .styleguide-example .styleguide-element .styleguide-modifier-name {
   display: block;
background-color: rgba(0,0,0,0.5);
/* position: absolute; */
/* top: 0; */
/* right: 0; */
/* padding: 5px 8px; */
font-size: 14px;
color: gray;
background: rgba(0,0,0,0.1);
border: 1px solid #eee;
border-top: none;
 }
  .styleguide-example .styleguide-html {
    padding: 5px 10px;
    background: #edf6f8;
    border-top: 1px solid #dde7ea;
    overflow: auto; }
    .styleguide-example .styleguide-html .highlight {
      background: none; }
  .styleguide-example ul.styleguide-modifiers {
    margin: 0 0 0 10px; }
    .styleguide-example ul.styleguide-modifiers li {
      list-style-type: none;
      margin-left: 0; }
    .styleguide-example ul.styleguide-modifiers li strong {
      font-family: Monaco, monospace;
      font-size: 12px;
      font-weight: normal;
      color: #222; }
  .styleguide-example > .styleguide-code {
    font-family: Monaco, monospace;
  }

.styleguide-modifier li{
}

.styleguide-nav{
  box-sizing: border-box;
color: rgb(51, 51, 51);
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
height: 124px;
line-height: 20px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-top: 0px;
max-width: 300px;
padding-left: 0px;
}

.styleguide-nav-list{
  box-sizing: border-box;
color: rgb(51, 51, 51);
display: block;
float: none;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
height: 40px;
line-height: 20px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-left: 0px;
margin-top: 2px;
position: relative;
}

.styleguid-nav-anchor{
background-color: rgb(238, 238, 238);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
box-sizing: border-box;
color: rgb(42, 100, 150);
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
height: 40px;
line-height: 20px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
outline-color: rgb(42, 100, 150);
outline-style: none;
outline-width: 0px;
padding-bottom: 10px;
padding-left: 15px;
padding-right: 15px;
padding-top: 10px;
position: relative;
text-decoration: none;
}
.active .styleguid-nav-anchor{
  background-color: rgb(66, 139, 202);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
box-sizing: border-box;
color: rgb(255, 255, 255);
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
height: 40px;
line-height: 20px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
padding-bottom: 10px;
padding-left: 15px;
padding-right: 15px;
padding-top: 10px;
position: relative;
text-decoration: none;
}
/* @end */
