<!DOCTYPE html>
<html>
    <head>
    {% load static %}
    {% load pykss %}

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Styleguide Example</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" type="text/css" />

    {% for user_css_file in view.css_source_files %}
        <link rel="stylesheet" href="{% static  user_css_file %}" type="text/css" />
    {% endfor %}

    {% block style %} <!--extra style will be over ride--> {% endblock %}
        <style>
            {{ view.pygament_style }}
        </style>

    </head>

    <body>


    <header class='styleguide-header' style="font-wight: bold; padding-left: 20px;">
        {% block header %} Styleguide Example {% endblock %}
    </header>


    <div id="wrapper">


        <!-- Nav tabs -->
        <ul role="main" class='styleguide-nav styleguide-hidden-xs' role="tablist" data-js-bs-tab>
           {% for section, description in section_descriptions.items %}
           <li class="styleguide-nav-list {% if section == current_section %} active {% endif %}">
               <a class='styleguid-nav-anchor' href="{% url 'styleguide' section=section %}" role="tab">
                 {{ description }}
               </a>
           </li>
            {% endfor %}
        </ul>


        <!-- Whole Contents -->
        {% renderstyleguide styleguide current_section %}



    </div>

<script src='{% static "js/kss.js" %}'></script>

{% if debug %}
<script src="http://localhost:35729/livereload.js?snipver=1"></script>
{% endif %}

{% block buttom %} {% endblock %}

</body>
</html>
