{% extends 'styleguide_base.html' %}
{% load static %}
{% load pykss %}
{% load compress %}

{% block content %}

<header class='styleguide-header styleguide-hidden-xs'>
    <div class="nav">
        <div class="brand">
            {% block header %} Django Style Guide {% endblock %}
        </div>
        <ul>
            {% for name, setting in styleguide_settings %}
                <li class="home"><a class='{% if app_name == setting.app_name %} active {% endif %}' href="{% url 'styleguide' app_name=setting.app_name  %}">{{ setting.verbose_name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</header>


<div id="wrapper">

    <!-- Nav tabs -->
    <ul role="main" class='styleguide-nav styleguide-hidden-xs' role="tablist" data-js-bs-tab>
        {% for file_name in file_names %}
            <li class="styleguide-nav-list {% if section == current_section %} active {% endif %}">
                <a class='styleguid-nav-anchor' href="{% url 'styleguide' app_name=app_name section=file_name %}" role="tab">
                    {{ file_name }}
                </a>
            </li>
        {% endfor %}
        {% for html in htmls %}
            <li class="styleguide-nav-list">
                <a class='styleguid-nav-anchor' href="{% url 'inline_prototype' app_name=app_name html=html %}" role="tab">
                    {{ html }}
                </a>
            </li>
        {% endfor %}
    </ul>


    {% block section %}
        {% renderstyleguide styleguide current_section %}
    {% endblock %}



</div>





{% endblock %}
